@font-face {
  font-family: ".SF Compact Rounded";
  src: url(./fonts/Manrope-VariableFont_wght.ttf);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circular-square {
  border-radius: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status-color-fact {
  color: #047857;
}

.status-color-fake {
  color: #aa2f2f;
}

.status-color-voting {
  color: #ebbe52;
}
