.answer {
  padding: 0 0 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.avatar {
  width: 73px;
  height: 73px;
  margin-right: 8px;
  border-radius: 50%;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 73px;
}

.subtitle {
  color: #047857;
  top: 0;
  font-family: 'SF Compact Rounded';
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1px;
}

.paragraph {
  bottom: -1px;
  color: #fff;
  font-family: 'SF Compact Rounded';
  font-weight: 300;
  font-size: 8px;
}

.paragraphEmphasis0 {
  color: #047857;
  font-family: 'SF Compact Rounded';
  font-weight: bold;
  font-size: 12px;
}

.paragraphEmphasis1 {
  color: #fff;
  font-family: 'SF Compact Rounded';
  font-weight: 300;
  font-size: 8px;
}

.paragraphEmphasis5 {
  color: #BA6262;
  font-family: 'SF Compact Rounded';
  font-weight: bold;
  font-size: 12px;
}

.paragraphEmphasis7 {
  color: #fff;
  font-family: 'SF Compact Rounded';
  font-weight: 300;
  font-size: 8px;
}
