.submitButtons {
    display: flex;
    align-items: center;
  }
.cancel {
    background-color: #e0e0e0;
    margin-right: 16px;
    border-radius: 4px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 32px;
  }
.label {
    color: #757575;
    text-align: center;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 16px;
  }
.cta {
    background-color: #047857;
    border-radius: 4px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 32px;
    width:148px;
  }
.leftIcon {
    margin-right: 4px;
    padding: 5px 2.5px 4.17px;
    display: flex;
    align-items: center;
    width: 15px;
    height: 10.83px;
  }
.shape {
    flex: 1;
    align-self: stretch;
    object-fit: cover;
  }
.layout {
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.labelTwo {
    color: #fff;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 16px;
  }
  