.top {
    display: flex;
    align-items: center;
    height: 20px;
}

.title {
    color: #047857;
    flex: 1;
    font-family: 'SF Compact Rounded';
    font-weight: bold;
    font-size: 14px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.close {
    border-radius: 4px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    margin-top: 15px;
}

.icon {
    width: 16px;
    height: 16px;
}