.bottom-text {
  font-family: ".SF Compact Rounded";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  letter-spacing: -0.5px;

  color: #9cc9c3;
  text-align: center;
}

.bottom-text:hover {
  font-weight: 600;
  text-decoration: underline;

  cursor: pointer;
}
