.commit {
    padding: 0 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.title {
    color: #fff;
    align-self: stretch;
    margin-bottom: 4px;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 20px;
}

.textField {
    margin-bottom: 4px;
    border-radius: 4px;
    padding: 11px 7px 7px;
    display: flex;
    align-items: flex-start;
    height: 50px;
    width: 277px;
    border: 1px solid #f0f0f0;
}

.text {
    color: #9e9e9e;
    flex: 1;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
}

.textFieldTwo {
    border-radius: 4px;
    padding: 11px 7px 7px;
    display: flex;
    align-items: flex-start;
    height: 52px;
    width: 277px;
    border: 1px solid #f0f0f0;
}

.deleteContainer {
    display: flex;
    justify-content: flex-end;
}