.connect-button {
  background-color: #047857;
  padding: 5.5px 27px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 33px;
  
  margin-top: 0px;
  border-radius: 4px;
  border: 0px;

  display: flex;
}

.connect-button:hover {
  cursor: pointer;
}

.connect-icon {
  width: 24px;
  height: 24px;
}

/* .shape {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
} */

.layout {
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
}

.connect-label {
  color: #fff;
  font-family: ".SF Compact Rounded";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  width: 116px;
}
