.evidence-frame {
  box-sizing: border-box;

  width: 364px;
  height: 249px;

  background: #25272a;
  border: 1px solid #747b8d;
  border-radius: 5px;

  padding: 9px;
  padding-top: 2px;

  margin-top: 16px;
}

.evidence-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: start;
}
