.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  width: 140px;
  height: 33px;
}

.toggle-button.react-toggle--checked .react-toggle-track {
  background-color: #047857;
}

.toggle-text {
  width: 65px;
  height: 33px;

  font-family: ".SF Compact Rounded";
  font-style: normal;
  font-weight: 436;
  font-size: 15px;
  line-height: 16px;
  /* or 104% */

  color: #047857;
}
