.wrapper {
    display: flex;
    justify-content: space-between;
    border: 0.5px solid gray;
    border-radius: 3px;
    background-color: transparent;
    width: 100%;
    height: 90%;
}

.newsWrapper {
    flex: 2;
    padding: 20px;
    border-right: 2px solid gray;
}

.newsScoreWrapper {
    flex: 1;
    padding: 15px;
}