#container {
  height: auto;
  min-height: 100px;
  width: 364px;
  background: #1c1c1e;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container-control {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

.container-status {
  margin-top: 20px;
}
